    <%- include ('../partials/header'); %>
    <link rel="stylesheet" href="/css/styleAbout.css">
    <title>About</title>
  </head>
    <body>
        <br>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
          <div class="jumbotron">
            <h1 class="display-4">About Us</h1>
            <hr>
            <p class="lead">Alpine is a Colorado based website that is useful for users who are trying to explore.</p>
            <p> Look up hiking locations, skiing areas, and other outdoor activities. Chat with other users to get a ride together,</p>
            <p> or explore the map by entering an address.  Search for rides anytime and navigate to the account page to manage your data. </p>
            <p> Utilize the locations page to get weather, price, rating, and location information about any destination.</p>
            <br>
            <p>Created at University of Colorado Boulder 2021© by Justin Lee, Allen Zhang, Erica Shivers, Daniel Lisle, and Caleb Noel</p>
          </div>
        </div>
        <%- include ('../partials/footer'); %>
