<%- include ('../partials/header'); %>
<link rel="stylesheet" href="/css/styleHome.css">
<title>Home</title>
  </head>
    <body>
      <br>
      <br>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 offset-4 float-md-center">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to Alpine!</h1>
          <hr>
          <p class="lead">Navigate to the map to explore locations or meet up with a driver.</p>
        </div>
      </div>
      <%- include ('../partials/footer'); %>
