    <%- include ('../partials/header'); %>
    <link rel="stylesheet" href="/css/styleLogin.css">
    <style>
      label{
        display: inline-block;
      }
    </style>
    <title>Login</title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="content">
  		  <h1>Login</h1>
        <br></br>
        <br></br>
        <form action="/users/login" method="POST">
          <label for="username">Email:</label>
          <input type="text" id="username" name="username" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" minlength="8" required><br><br>
          <input type="submit">
        </form>
        <div>
          <%= loginError %>
        </div>
      </div>
    </div>
    <%- include ('../partials/footer'); %>
